{% extends 'Book_Form_CRUD/index.html' %}
    {% block content %}
    <div class="card-columns">
{#        {% for book in books %}#}
{#            <div class="card" style="width: 18rem;">#}
{#              <img class="card-img-top" src="{{ book.picture.url }}">#}
{#              <div class="card-body">#}
{#                <h5 class="card-title">{{ book.name }}</h5>#}
{#                <p class="card-text">{{ book.describe }}</p>#}
{#                <div class="card-footer bg-transparent border-dark">#}
{#                <p class="card-title">{{book.author}}</p>#}
{#                    <div style="text-align: center;">#}
{#                        <a href="update/{{book.id}}" class="btn btn-warning" id = '{{book.id}}'>edit</a>#}
{#                        <a href="delete/{{book.id}}" class="btn btn-danger" id = '{{book.id}}'>delete</a>#}
{#                    </div>#}
{#                </div>#}
{#              </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
    {% endblock %}